/**********GENERAL STYLING**************/
*{
    font-family: Arial, sans-serif;
}

main{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:5%;
}

body{
	margin:0;
	padding:0;
}

.appButton{
	background-color:#34516C;
	border-radius:3px;
	color:#F8F8FF;
	cursor:pointer;
	padding:1%;
}

.appForm{
	background-color:#eaeaf0;
	padding:5%;
	border-radius:20px;
}

/************HEADERS STYLING**************/
header{
	display:flex;
	flex-direction:column;
	background-color:#BE1622;
}

header div{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding:3% 2%;
}

header > *{
	color:white;
}

#regularLinks a{
	color:white;
	text-decoration:none;
}

#regularLinks a:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#burgerLinks{
	background-color:#C7CBDA;
	padding:3% 2%;
}

#burgerLinks a{
	margin-bottom:2%;
	color:white;
	text-decoration:none;
}

/*******FOOTERS STYLING*****/
footer{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	background-color:#34516C;
	padding:5% 2%;
	gap:3%;
}

footer > *, a{
	color:white;
}

/*INDEX STYLING*/
#indexMain{
	display:flex;
	flex-direction:column;
	align-self:center;
}

#offers{
	align-items:center;
}

#indexMain h2{
	color:#34516C;
}

#indexMain h4{
	color:#F2BE1A;
}

.offer{
	margin-bottom:2%;
	border-radius:20px;
	padding:2%;
	text-align:center;
	background-color:#eaeaf0;
}

.offer p{
	color:black;
}

/******LOGIN*******/
#registrationMessage{
	background-color:#eaeaf0;
	padding:3%;
	border-radius:20px;
	text-align:center;
}

/******PRODUCTS STYLING*****/
.product{
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
}

.productDesc{
	background-color:#F8F8FF;
	padding:1%;
}

.product h4,h2{
	color:#34516C;
}

.product a{
	color:#F2BE1A;
}

#arrow{
	border:solid white 5px;
	border-radius:50px;
	background-color:white;
	box-shadow:1px 1px 5px;
	width:2vw;
	height:2vw;
	position:fixed;
	top:550px;
	right:20px;
	cursor:pointer;
}

/*******ITEM  STYLING*****/
#itemDesc{
	background-color:#eaeaf0;
	padding:3%;
}

#itemDesc > *{
	margin:2%;
}

.review{
	background-color:#eaeaf0;
	padding:3%;
	border-radius:20px;
	margin-bottom:2%;
}

.review h4{
	color:#F2BE1A;
}
/*******CART STYLING******/
#cartList{
	list-style:none;
	padding:0;
}

.cartItem{
	padding:5%;
	display:flex;
	flex-direction:row;
	border-top:solid 2px #eaeaf0;
	border-bottom:solid 2px #eaeaf0;
}

.cartItem div{
	padding:5%;
}

/*MEDIA QUERIES*/

/*WIDTH 0-450PX*/
@media only screen and (min-width:0px){
	
	/*GENERAL*/
	.appButton{
		font-size:110%;
	}
	
	/*HEADERS*/
	header h1{
		font-size:100%;
	}
	
	#uclanLogo{
		width:40%;
		height:auto;
	}
	
	#regularLinks{
		display:none;
	}
	
	#burgerMenu{
		width:40px;
		height:auto;
	}
	
	#burgerLinks{
		display:none;
	}

	#burgerLinks.active{
		display:flex;
		flex-direction:column;
		align-content:center;
	}
	
	/*FOOTERS*/
	footer h2{
		font-size:70%;
	}
	
	footer p{
		font-size:50%;
	}
	
	footer a{
		font-size:60%;
	}
	
	/*INDEX*/
	#offers{
		display:flex;
		flex-direction:column;
	}
	
	.offer{
		width:80%;
	}
	
	#indexMain h2{
		font-size:120%;
	}
	
	#indexMain h4{
		font-size:110%;
	}
	
	#indexMain p{
		font-size:90%;
	}
	
	.offer {
		font-size:90%;
	}
	
	.indexVideo{
		align-self:center;
	}

	.indexVideo{
		width:250px;
		height:auto;
	}
	
	/*LOGIN*/
	#loginContent h2,#registrationMessage h2,#reviewForm h2{
		font-size:120%;
	}

	#loginContent p,#registrationMessage p,#reviewForm p{
		font-size:80%;
	}

	#loginContent input,#reviewForm input{
		font-size:70%;
	}

	/*PRODUCTS*/
	#products{
		display:flex;
		flex-direction:column;
		gap:50px;
	}
	
	.listingImage{
		width:210px;
		height:auto;
	}
	
	.productDesc h2,#itemDesc h2{
		font-size:110%;
	}
	
	.productDesc h4,#itemDesc h4{
		font-size:100%;
	}
	
	.productDesc p,#itemDesc p{
		font-size:90%;
	}
	
	.productDesc a{
		font-size:120%;
	}
	
	#arrow{
		width:30px;
		height:auto;
	}
	
	/*ITEM*/
	#item{
		display:flex;
		flex-direction:column;
		align-items:center;
		text-align:center;
	}

	#itemImage{
		width:270px;
		height:auto;
	}
	
	#itemDesc{
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	
	.review h4{
		font-size:120%;
	}
	
	.review h5{
		font-size:110%;
	}
	
	.review p{
		font-size:100%;
	}
	
	/*CART*/
	#cart h2{
		font-size:110%;
	}
	
	#cart h4{
		font-size:100%;
	}
	
	#cart p{
		font-size:90%;
	}
	
	.cartImage{
		width:125px;
		height:auto;
	}
}

/*WIDTH 450-768PX*/
@media only screen and (min-width:450px){
	
	/*HEADERS*/
	header h1{
		font-size:130%;
	}
	
	#uclanLogo{
		width:30%;
		height:auto;
	}
	
	#burgerMenu{
		width:55px;
		height:auto;
	}
	
	#burgerLinks a{
		font-size:120%;
	}
	
	/*FOOTERS*/
	footer h2{
		font-size:100%;
	}
	
	footer p{
		font-size:80%;
	}
	
	footer a{
		font-size:75%;
	}
	
	/*INDEX*/
	.offer{
		width:70%;
	}

	#indexMain h2{
		font-size:140%;
	}
	
	#indexMain h4{
		font-size:120%;
	}
	
	#indexMain p{
		font-size:110%;
	}

	.indexVideo{
		width:350px;
		height:auto;
	}

	/*LOGIN*/
	#loginContent h2,#registrationMessage h2,#reviewForm h2{
		font-size:140%;
	}

	#loginContent p,#registrationMessage p,#reviewForm p{
		font-size:100%;
	}

	#loginContent input,#reviewForm input{
		font-size:90%;
	}
	
	/*ITEM*/
	#itemImage{
		width:270px;
		height:auto;
	}
	
	#itemDesc{
		display:flex;
		flex-direction:column;
		align-items:center;
	}
	
	/*CART*/
	#cart h2{
		font-size:130%;
	}
	
	#cart h4{
		font-size:110%;
	}
	
	#cart p{
		font-size:100%;
	}
	
	.cartImage{
		width:200px;
		height:auto;
	}
}

/*FOR PRODUCTS AND ITEM PAGE ONLY*/
@media only screen and (min-width:550px){
	#products{
		display:grid;
		grid-template-columns:auto auto;
	}
	
	#item{
		display:flex;
		flex-direction:row;
		align-items:center;
		text-align:center;
	}
	
	#itemImage{
		width:230px;
		height:auto;
	}
}

/*WIDTH 768-1024PX*/
@media only screen and (min-width:768px){
	
	/*HEADERS*/
	header h1{
		font-size:170%;
	}

	#burgerMenu{
		display:none;
	}
	
	#burgerLinks{
		display:none;
	}
	
	#burgerLinks.active{
		display:none;
	}
	
	#regularLinks{
		display:block;
	}
	
	#regularLinks a{
		font-size:125%;
	}
	
	/*FOOTERS*/
	footer h2{
		font-size:120%;
	}
	
	footer p{
		font-size:100%;
	}
	
	footer a{
		font-size:95%;
	}
	
	/*INDEX*/
	.offer{
		width:60%;
	}
	#indexMain{
		width:auto;
	}
	
	#indexMain h2{
		font-size:150%;
	}
	
	#indexMain h4{
		font-size:130%;
	}
	
	#indexMain p{
		font-size:120%;
	}
	
	.offer{
		font-size:100%;
	}

	.indexVideo{
		align-self:flex-start;
	}

	.indexVideo{
		width:500px;
		height:250px;
	}
	
	/*PRODUCTS*/
	#products{
		display:grid;
		grid-template-rows:auto auto auto;
		grid-template-columns:auto auto auto;
	}
	
	.listingImage{
		width:220px;
		height:auto;
	}
	
	.productDesc h2{
		font-size:110%;
	}
	
	.productDesc h4{
		font-size:100%;
	}
	
	.productDesc p{
		font-size:90%;
	}
	
	.productDesc a{
		font-size:120%;
	}
	
	#arrow{
		width:30px;
		height:auto;
	}
	
	/*ITEM*/
	#itemImage{
		width:290px;
		height:auto;
	}
	
	#itemDesc h2{
		font-size:130%;
	}
	
	#itemDesc h4{
		font-size:120%;
	}
	
	#itemDesc p{
		font-size:110%;
	}
	
	.review h4{
		font-size:130%;
	}
	
	.review h5{
		font-size:120%;
	}
	
	.review p{
		font-size:110%;
	}

	/*CART*/
	#cart h2{
		font-size:140%;
	}
	
	#cart h4{
		font-size:120%;
	}
	
	#cart p{
		font-size:110%;
	}
	
	.cartImage{
		width:250px;
		height:auto;
	}

/*WIDTH 1024PX*/
@media only screen and (min-width:1024px){
	
	/*HEADERS*/
	#uclanLogo{
		width:20%;
		height:auto;
	}
	
	header h1{
		font-size:170%;
	}
	
	#regularLinks a{
		font-size:125%;
	}

	/*LOGIN*/
	#loginContent h2,#registrationMessage h2,#reviewForm h2{
		font-size:150%;
	}

	#loginContent p,#registrationMessage p,#reviewForm p{
		font-size:110%;
	}

	#loginContent input,#reviewForm input{
		font-size:100%;
	}

	/*CART*/
	#cart{
		margin-bottom:20%;
	}
	
}

